body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.grid {
  color: white;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(20px, max-content));
  grid-auto-rows: 100px;
  margin-bottom: 30px;
}

.item:nth-child(odd) {
  background-color: #2ecc71;
}

.item:nth-child(even) {
  background-color: #3498db;
}

/* 2.1 Life Before Grid
Prior to introduction of Grid, it was very hard to make columns and rows with just flexbox;
You would need to consider many things considering below;
wrap, direction, etc.;
Even with all that, it was still tough to form grid;
Thus Grid was introduced;
*/

/* 2.2 CSS Grid Basic Concepts 
Just like Flexbox, Grid happens on the father element;
most things will happen on the father;
with property grid-template-columns, we can make number of columns by assigning width;
grid-template-rows will set height of rows of the grid;
if you give auto instead of width or height, the element will take all remaining space;
You can set gap between columns and rows with column-row and row-gap;
If you want universal gap, use property gap;
*/

/* 2.3 Grid Template Areas
Grid has function repeat();
When creating columns and rows, you can use it as : repeat(number of columns or rows, width or height);
grid-template-areas helps you visually design your grid from CSS;
After making each row in "" on the father; you can assign grid-area property to the children;
If you want to certain space empty, replace area name with a dot;
*/

/* 2.4 Rows and Columns
By assigning to the children grid-column-start & grid-column-end, 
you can determine from which line to which line the element will extend;
Same goes for grid-row-start & grid-row-end;
What you need to keep in mind is that these properties use "line" instead of column & row number;
*/

/* 2.5 Shortcuts
You can use shortcut grid-column: start number / end number
instead of using grid-column-start & grid-column-end;
Of course same goes for grid-row;
If end number === end line, you can use -1 instead of actual end line;
Instead of start / end, you can replace with span followed by number of cells;
You can also combine start / end with span;
*/

/* 2.6 Line Naming
In grid-template-columns & grid-template-rows, you can assign line names;
When given line names, you can replace numbers in grid-column & grid-row with line names;
If you want to name lines inside of repeat(), you input line-name inside of repeat();
*/

/* 2.7 Grid Template
fr or fraction takes space available;
If you do grid-template-columns: repeat(4, 1fr), each column will take each available space;
This is more useful for fluid layout;
grid-template property is basically everything in one box;
grid-template combines grid-template-columns, grid-template-rows and grid-template-areas;
first you write each row area and row height;
follow that with a / and write width of each column;
You can also combine line naming in the start and end but usually wouldn't need that;
However, repeat() does not work on grid-template
*/

/* 2.8 Place Items
Grid father can use justify-items and align-items;
By default, the values are stretch;
You can use different values to place items differently within grid cells;
stretch will not work when the children have height and/or width;
Shortcut for combining these two is place-items;
*/

/* 2.9 Place Content
Unlike justify-items & align-items, justify-content & align-content moves the grid itself;
justify-content aligns columns and align-content aligns rows;
Of course there is place-content which takes both align-content and justify-content;
*/

/* 2.10 Auto Columns and Rows
Similar to Flexbox, you can align each element;
You can apply property align-self, justify-self & place-self to align an element within the cell;

When you have more elements than the created grid cells, ie, when you don't know how many elements there will be,
You can set default cell size values to grid-auto-columns & grid-auto-rows;
grid-auto-rows will only be activated when there are more rows than initially planned in grid-template-rows;
You can even omit grid-template-rows and just use grid-auto-rows if all row sizes will be same;

If you want new elements to grow more columns, you can use grid-auto-flow: column; to change the direction;
It works similar to flex-direction: column;
In this case, you will need to set default column size with grid-auto-columns;
In most cases, you will stick to rows;
*/

/* 2.11 minmax
minmax sets how big or small an element can be;
While setting grid-template, instead of directing applying height or width,
you can use minmax(min value, max value);
*/

/* 2.12 auto-fit auto-fill
auto-fit & auto-fill are used for responsive design and are only used within repeat();
Inside repeat(), instead of number of columns, when you put auto-fill,
it fills the rows with as much empty columns it can;
auto-fit stretchs the elements to fit all the spaces;
auto-fit is more fluid sizes and auto-fit is for more exact sizes;
*/

/* 2.13 min-content max-content 
min-content makes the cell as tiny as the content is;
max-contetn makes the cell as big as it needs;
We are not determining the sizes but the content is deciding;
By putting together, repeat, minmax, min-content & max-content, you can make responsive design;
*/
