.wrapper {
  /* making the direct father a Flexbox Container */
  display: flex;
  flex-direction: column;
  /* Main Axis */
  justify-content: center;
  /* Cross Axis */
  align-items: center;
  height: 100vh;
}

.box {
  width: 200px;
  height: 200px;
  background-color: peru;
  color: white;
}

/* 
in Flexbox, you don't talk to the children;
You need to create Flexbox Container and talk to that;
*/

/* 
Flex container has Main Axis and Cross Axis;
flex-direction by default is Row;
Main Axis is the horizontal axis by default;
Main Axis can be controlled with justify-content;
Cross Axis in the vertical axis by default;
Cross Axis can be controlled with align-items;
*/

/* 
On flex-direction : column, Main Axis is vertical and Cross Axis is horizontal;
*/
