.wrapper {
  /* making the direct father a Flexbox Container */
  display: flex;
}

.box {
  width: 200px;
  height: 200px;
  background-color: peru;
  color: white;
}

/* in Flexbox, you don't talk to the children. */
/* You need to create Flexbox Container and talk to that */
