%miniTitle {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 10px;
  opacity: 0.6;
  text-transform: uppercase;
  letter-spacing: 2px;
}

%button {
  @extend %miniTitle;
  padding: 5px 10px;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  font-weight: 500;
  padding: 23px 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: black;
    color: white;
    transition: 0.2s ease-in-out;
    opacity: 0.8;
  }
}
